
{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href = "{% url 'logout' %}">Logout</a>
{% else %}
    <a href = "{% url 'login' %}">Login</a>
{% endif %}
<hr>
<h1>All Passwords</h1>
<h4><a href = "{% url 'create-password' %}">Save password</a></h4>

<table>
    <tr>
        <th>Site</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    
        {% for password in passwords %}
        <tr>
            <td>{{password.site}}</td>
            <td><a href="{% url 'detail-password' password.id %}">View</a></td>
            <td><a href="{% url 'update-password' password.id %}">Edit</a></td>
            <td><a href="{% url 'delete-password' password.id %}">Delete</a></td>
        </tr>
        {% empty %}
            <h1>Sorry, There are no Passwords Saved for {{password.user}}</h1>
        {% endfor %}
   
</table>